@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #F8FAFC;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1 {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
    margin: 2rem auto;
}


.articles {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    gap: 3rem;
    margin-bottom: 2rem;
}

.article-img img {
    border-radius: 1.5rem;
}

.article-info h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.article-info p {
    font-size: 0.875rem;
    font-weight: 500;
}